<div class="bg-no-repeat bg-white border-b border-t" style="background-image: url('https://www.cnie.ma/assets/img/background-images/landing-background.png')">
  <div class="px-8 py-12 md:w-1/2 text-center mx-auto">
    <h2 class="text-2xl font-medium mb-3">Réservation des séances orales</h2>
    <p class="font-light text-gray-600 mb-9">Un nouveau système de réservation permettant aux candidats d'exprimer leur préférence et de réserver facilement un créneau pour leur séance orale.</p>
    <div class="flex items-center justify-center gap-x-3">
      <a class="py-2 px-5 bg-blue-600 text-white border hover:border-blue-800 hover:bg-blue-800 transition border-blue-600 text-sm font-medium rounded-full" routerLink="reservations/make">Effectuer une réservation</a>
      <a class="py-2 px-5 text-blue-600 text-sm hover:text-blue-800 transition border border-current font-medium rounded-full" href="http://localhost/mini-projet-SI-mysql/demande/consult.php">Consulter ma réservation</a>
    </div>
  </div>
</div>
<div class="bg-gray-50">
  <div class="px-8 py-12 md:w-3/4 mx-auto">
    <div class="text-center mb-10">
      <h1 class="text-2xl font-bold mb-3">Services électroniques</h1>
      <p class="text-sm text-gray-700">Consulter ci-dessous la liste de nos services électroniques</p>

    </div>
    <div class="grid grid-cols-3 justify-center items-center gap-x-10">
      <a class="bg-white flex flex-col justify-center items-center rounded-lg px-10 hover:shadow-lg hover:-translate-y-1 transition py-6 shadow text-blue-600 hover:text-blue-700" routerLink="reservations/make">
        <div class="flex mb-4 mx-auto w-24 h-24 items-center justify-center rounded-full border-2 border-current">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-clipboard-plus-fill" viewBox="0 0 16 16">
            <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z"></path>
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm4.5 6V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5a.5.5 0 0 1 1 0Z"></path>
          </svg>
        </div>
        <h5 class="font-bold">Effectuer une réservation</h5>
      </a>
      <a class="bg-white flex flex-col justify-center items-center rounded-lg px-10 hover:shadow-lg hover:-translate-y-1 transition py-6 shadow text-green-600 hover:text-green-700" href="http://localhost/mini-projet-SI-mysql/demande/consult.php">
        <div class="flex mb-4 mx-auto w-24 h-24 items-center justify-center rounded-full border-2 border-current">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
            <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"></path>
          </svg>
        </div>
        <h5 class="font-bold">Suivre ma réservation</h5>
      </a>
      <a class="bg-white flex flex-col justify-center items-center rounded-lg px-10 hover:shadow-lg hover:-translate-y-1 transition py-6 shadow text-orange-600 hover:text-orange-700" href="http://localhost/mini-projet-SI-mysql/demande/consult.php">
        <div class="flex mb-4 mx-auto w-24 h-24 items-center justify-center rounded-full border-2 border-current">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-pin-map-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"></path>
            <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"></path>
          </svg>
        </div>
        <h5 class="font-bold">Consulter mes réservations</h5>
      </a>
    </div>
  </div>
</div>

